{% include '/header/menu.html.twig' %}

<div class="content">
    <div class="title">Register</div>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}

    {% if error is defined %}
        <div class="error">{{ error }}</div>
    {% endif %}
</div>

{% include '/footer/footer.html.twig' %}